#logo {
  /*width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;*/
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

.main-section {
  /*float: left;
  width: 100%;
  max-width: 650px;*/
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
  }

  .sidebar {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
  }

  .social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

